<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8080/ClientService/" binding="basicHttpBinding"
                contract="Conversus.Service.Contract.IClientService" name="IClientService" />

            <endpoint address="http://localhost:8080/QueueService/" binding="basicHttpBinding"
                contract="Conversus.Service.Contract.IQueueService" name="IQueueService" />

            <endpoint address="http://localhost:8080/UserService/" binding="basicHttpBinding"
                contract="Conversus.Service.Contract.IUserService" name="IUserService" />
        </client>
    </system.serviceModel>
</configuration>