<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conversusEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;d:\conversus.db3&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>