<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configSource="db.config"></connectionStrings>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8080/ClientService/" binding="basicHttpBinding"
                contract="Conversus.Service.Contract.IClientService" name="IClientService" />

            <endpoint address="http://localhost:8080/QueueService/" binding="basicHttpBinding"
                contract="Conversus.Service.Contract.IQueueService" name="IQueueService" />

            <endpoint address="http://localhost:8080/UserService/" binding="basicHttpBinding"
                contract="Conversus.Service.Contract.IUserService" name="IUserService" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Conversus.TerminalView.Service.TerminalService">
                <endpoint address="" binding="basicHttpBinding" contract="Conversus.TerminalService.Contract.ITerminalService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8180/TerminalService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>