<connectionStrings>
  <add name="conversusEntities" connectionString="metadata=res://*/ConversusDataModel.csdl|res://*/ConversusDataModel.ssdl|res://*/ConversusDataModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;d:\conversus.db3&quot;'" providerName="System.Data.EntityClient" />
</connectionStrings>