<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="db.config">
    <add name="conversusEntities" connectionString="metadata=res://*/ConversusDataModel.csdl|res://*/ConversusDataModel.ssdl|res://*/ConversusDataModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\conversus.db3&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>